/* General Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #111111;
}

/* Center Apple Icon Horizontally and Vertically */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Apple Logo Icon */
.fa-apple {
    font-size: 100pt;
    color: #ffffff;
    text-shadow:
                0 0 50px #00ff00,
                0 0 100px #00ff00,
                0 0 150px #00ff00,
                0 0 200px #00ff00,
                0 0 250px #00ff00;

    animation: apple-glow 2.5s linear infinite;
}

/* Animation */
@keyframes apple-glow {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
